* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'coolvetica';
    src: url('../fonts/coolvetica-rg.otf');
}

@font-face {
    font-family: 'coolveticaFina';
    src: url('../fonts/coolvetica-crammed-rg.otf');
}