* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'coolvetica';
    src: url('../fonts/coolvetica-rg.otf');
}

@font-face {
    font-family: 'coolveticaFina';
    src: url('../fonts/coolvetica-crammed-rg.otf');
}

@font-face {
    font-family: 'interLight';
    src: url('../fonts/Inter-Light.ttf');
}

@font-face {
    font-family: 'interRegular';
    src: url('../fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'interBold';
    src: url('../fonts/Inter-Bold.ttf');
}