.main-Header {
    display: flex;
    flex-direction: column;
    transition: .2s;

    textarea:focus,
    input:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
    }

    a:active,
    a:link,
    a:visited {
        text-decoration: none;
        color: #111827;
    }

    .cabecalho {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .logo {
            width: 400px;
            height: auto;
        }

        .icon-busca {
            width: 25px;
            height: auto;
            margin-right: 5px;
        }




        .cabecalho-div2 {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin: 0 10em 0 0;
            width: 20%;

            .cabecalho-div-darkMode {
                display: flex;
                flex-direction: row;
                align-items: center;

                .icon-moon {
                    position: relative;

                    width: 30px;
                    height: 30px;

                    background-color: #ebebf0;
                    padding: 5px;
                    border-radius: 100%;
                    cursor: pointer;
                    transition: .2s;
                }

            }

            .icon-user {
                width: 25px;
                height: 30px;
            }

            .div-menuUser {
                transition: .2s;

                .div-menuUser-Link {
                    transition: .2s;
                }
            }



            .div-menuUser-Link:hover {
                color: #0051ff;
                cursor: pointer;
            }
        }

        .cabecalho-div2 div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 9px;

            border-radius: 5px;
        }

        .cabecalho-div2 img {
            width: 30px;
            height: 30px;
        }

        .cabecalho-div2 label {
            display: flex;
            flex-direction: row-reverse;
        }

        .cabecalho-div2 label img {
            cursor: pointer;
        }

        .cabecalho-div2 label div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            font-family: 'interRegular';

            position: relative;
            top: 3.5em;

            color: #111827;
            background-color: #ebebf0;
            height: 5em;
            width: 100%;
            padding: 6px;
        }
    }

    .cabecalho section {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'interRegular';

        .wave-group {
            position: relative;
        }

        .wave-group .input {
            font-size: 16px;
            padding: 10px 10px 10px 5px;
            display: block;
            width: 200px;
            border: none;
            border-bottom: 1px solid #515151;
            background: transparent;
            color: #ebebf0;
            font-family: 'interRegular';
        }

        .wave-group .input:focus {
            outline: none;
        }

        .wave-group .label {
            color: #ebebf0;
            font-size: 18px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 5px;
            top: 10px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

        .wave-group .label-char {
            -webkit-transition: 0.2s ease all;
            transition: 0.2s ease all;
            -webkit-transition-delay: calc(var(--index) * .02s);
            transition-delay: calc(var(--index) * .02s);
            
        }

        .wave-group .input:focus~label .label-char
        ,
        .wave-group .input:valid~label .label-char {
            -webkit-transform: translateY(-20px);
            -ms-transform: translateY(-20px);
            transform: translateY(-20px);
            font-size: 14px;
        }

        .wave-group .bar {
            position: relative;
            display: block;
            width: 200px;
            border-bottom: 1px solid black;
        }

        .wave-group .bar:before,
        .wave-group .bar:after {
            content: '';
            height: 2px;
            width: 0;
            bottom: 1px;
            position: absolute;
            //
            border-bottom: 1px solid white;
            //
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
        }

        .wave-group .bar:before {
            left: 50%;
        }

        .wave-group .bar:after {
            right: 50%;
        }

        .wave-group .input:focus~.bar:before,
        .wave-group .input:focus~.bar:after {
            width: 50%;
        }


    }

    .cabecalho label img {
        transition: .2s;
    }

    .cabecalho label input {
        font-family: 'coolvetica';
        font-size: 1em;
        background: transparent;
        border: 0;
        transition: .2s;
        border-radius: 2px;
        border-bottom: 2px solid #ebebf0;
        padding: .6em;
    }

    .cabecalho label div {
        display: flex;
        flex-direction: column;
    }




}