.main-Header {
    display: flex;
    flex-direction: column;
    transition: .2s;

    textarea:focus, input:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
    }

    a:active, a:link, a:visited {
        text-decoration: none;
        color: #111827;
    }

    .cabecalho {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .logo {
            width: 400px;
            height: auto;
        }

        .div-search {
            .icon-busca {
                width: 25px;
                height: 25px;
                transition: .2s;
                position: relative;
                left: 5px;
                transform: translateY(120%);
            }

        }

        .div-search input {
            letter-spacing: 2px;
        }

        .div-search:focus-within {

            .icon-busca {
                transform: translateY(20%);
            }
        }


        .cabecalho-div2 {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin: 0 10em 0 0;
            width: 20%;

            .cabecalho-div-darkMode {
                display: flex;
                flex-direction: row;
                align-items: center;

                .icon-moon {
                    position: relative;

                    width: 30px;
                    height: 30px;

                    background-color: #ebebf0;
                    padding: 5px;
                    border-radius: 100%;
                    cursor: pointer;
                    transition: .2s;
                }

            }

            .icon-user {
                width: 25px;
                height: 30px;
            }

            .div-menuUser {
                transition: .2s;

                .div-menuUser-Link {
                    transition: .2s ;
                }
            }

            

            .div-menuUser-Link:hover {
                color:#0051ff;
                cursor: pointer;
            }
        }

        .cabecalho-div2 div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 9px;

            border-radius: 5px;
        }

        .cabecalho-div2 img {
            width: 30px;
            height: 30px;
        }

        .cabecalho-div2 label {
            display: flex;
            flex-direction: row-reverse;
        }

        .cabecalho-div2 label img {
            cursor: pointer;
        }

        .cabecalho-div2 label div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            font-family: 'interRegular';

            position: relative;
            top: 3em;

            color: #111827;
            background-color: #ebebf0;
            height: 4.5em;
            width: 100%;
            padding: 6px;
        }
    }

    .cabecalho label {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cabecalho label img {
        transition: .2s;
    }

    .cabecalho label input {
        font-family: 'coolvetica';
        font-size: 1em;
        background: transparent;
        border: 0;
        transition: .2s;
        border-radius: 2px;
        border-bottom: 2px solid #ebebf0;
        padding: .6em;
    }

    .cabecalho label div {
        display: flex;
        flex-direction: column;
    }
    
    

    
}