.comp-car {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    min-height: 35vh;


    .inner {
        display: flex;
        flex-direction: row;

    }

    .item{
        min-height: 200px;
        min-width: 400px;
        padding: 0.7em;

    }

    .item img{
        width: 100%;
        height: 98%;
        border-radius: 12px;
        pointer-events: none;

    }

    .carousel{
        cursor: grab;
        overflow: hidden;
    }



  



}